absl-py==0.3.0
appnope==0.1.0
astor==0.7.1
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==3.1.4
certifi==2018.11.29
chardet==3.0.4
colorlog==3.1.4
configparser==3.5.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gast==0.2.0
git-lfs==1.5
gitdb2==2.0.5
GitPython==2.1.11
grpcio==1.14.0
h5py==2.8.0
html5lib==0.9999999
idna==2.8
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.8
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.1.0
matplotlib==2.2.3
mistune==0.8.4
mock==2.0.0
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.8
numpy==1.15.3
pandas==0.23.4
pandocfilters==1.4.2
pathlib==1.0.1
pathlib2==2.3.3
pbr==4.2.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.2.0
pkg-resources==0.0.0
progressbar==2.5
prometheus-client==0.5.0
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.1.2
requests==2.21.0
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.87
scandir==1.9.0
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
smmap2==2.0.5
subprocess32==3.5.2
tensorboard==1.8.0
tensorflow-gpu==1.15.2
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
